*{
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
 }

 $couleur_primaire :#9356DC;
 $couleur_secondaire : #FF79DA;
 $couleur_Tertiaire : #99E2D0;
 $btn-deb: linear-gradient($couleur_primaire,$couleur_secondaire);
 $btn-fin: linear-gradient($couleur_secondaire,$couleur_primaire);

 

 #srch{ // Header Accueuil //
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 10px;
     padding-right: 10px;
     #__logo{ //couleur de fond pour le logo//
        background-color: darken( $couleur_Tertiaire,10);
        padding-bottom: 20px;
        padding-top: 20px;
    }
     img{ //taille logo//
         width: 196px;
         height: 34px;
     }
     #__bgrnd_sub{ //couleur de fond header//
        background-color: $couleur_Tertiaire;
        margin-top: -16px;
        padding: 10px;
     }
     #__map{
         font-size: 1.5em;
     }
     h1{ //titre header //
         color:darken($couleur_primaire,10) ;
         -webkit-text-stroke: 1.5px;
         -webkit-text-stroke-color: $couleur_primaire;
     }
     #srch__Explorer{ // bouton "Trouvre votre restaurant" header//
        color:white;
        font-weight: bold;
        padding:10px;
        background:$btn-deb;
        border-radius: 20px;
        cursor: pointer;
        animation: btn 500ms 1000ms 3; //animation du bouton "Trouvez votre réstaurant" au lancement de la page (*3)//
        transition : transform 300ms, 150ms;
        &:hover { //animation du bouton "Trouvez votre réstaurant" au survole//
            transform: scale(1.1);
            background: $btn-fin;
            box-shadow: 0px 5px 20px #999;
            filter: opacity(0.9);
        }
     }
 }

 @keyframes btn { //Keyframes pour l'animation du bouton au lancement de la page//
     0% {
         transform :scale(1)
     }
     50%{
         transform: scale(1.1);
     }
     100%{
         transform: scale(1)
     }

 }