* {
  box-sizing: border-box;
}

/*$couleur_tert_tt_light : lighten($couleur_Tertiaire,10%); // Couleur Tertiaire lighten background titre//
$couleur_tert_light :lighten($couleur_Tertiaire,15%); //Couleur tertiaire lighten background sections/articles//
$couleur_sec_light: lighten($couleur_primaire,25%); //Couleur primaire lighten card//
$couleur_prim_dark: darken($couleur_secondaire,60); //Couleur primaire darken du texte pour les cards//
$couleur_tert_dark:darken($couleur_Tertiaire,50);//Couleur tertiaire darken du logo check des cards//*/
#corp_page {
  font-family: "Roboto", sans-serif;
}

#hdr_menu {
  text-align: center;
  position: relative;
}
#hdr_menu #__ico_menu {
  position: absolute;
  color: black;
  font-size: 2em;
  height: 120px;
  margin-left: 50px;
  padding-bottom: 20px;
}
#hdr_menu #__logo_menu {
  margin: auto;
  padding-bottom: 20px;
}
#hdr_menu #__logo_menu img {
  width: 196px;
}
#hdr_menu #__img_menu {
  margin: auto;
  margin-top: -27px;
  height: 290px;
  overflow: hidden;
  position: relative;
}
#hdr_menu #__img_menu img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_menu {
  background-color: #EFEFEF;
  text-align: center;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
  margin-top: -60px;
  position: relative;
}
.main_menu h1 {
  font-family: "Shrikhand", cursive;
  padding-top: 30px;
  margin: auto;
  margin-left: -50px;
  position: relative;
}
.main_menu .__ico_menu {
  margin-top: -35px;
  margin-left: 320px;
}
.main_menu .__ico_menu i {
  font-size: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.main_menu .__ico_menu_2 {
  margin-top: -31px;
  margin-left: 320px;
}
.main_menu .__ico_menu_2 i {
  font-size: 33px;
  position: relative;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  z-index: 1;
  filter: opacity(0);
}
.main_menu .__ico_menu_2 i:hover {
  z-index: 2;
  filter: opacity(1);
  transition-duration: 1000ms;
}
.main_menu .btn_cmd {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
}
.main_menu .btn_cmd:hover {
  font-size: 1.1em;
  filter: opacity(0.9);
  margin-bottom: 18px;
  box-shadow: 0px 5px 20px #999;
}
.main_menu .h2_EPD {
  margin: auto;
  margin-top: 50px;
  margin-left: -260px;
  width: 78px;
  display: inline-block;
}
.main_menu .h2_EPD:after {
  content: "";
  display: inline-block;
  background-color: #99E2D0;
  width: 80px;
  height: 3px;
  position: relative;
  left: 5px;
  bottom: 10px;
}
.main_menu .card_menu_1, .main_menu .card_menu_1_hte, .main_menu .card_menu_2, .main_menu .card_menu_3, .main_menu .card_menu_4 {
  margin: auto;
  position: relative;
  border-radius: 20px;
  width: 350px;
  height: 70px;
  box-shadow: 0px 5px 20px #999;
  margin-top: 20px;
  cursor: pointer;
}
.main_menu .card_menu_1 .__h2_card_menu, .main_menu .card_menu_1_hte .__h2_card_menu, .main_menu .card_menu_2 .__h2_card_menu, .main_menu .card_menu_3 .__h2_card_menu, .main_menu .card_menu_4 .__h2_card_menu {
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
  white-space: nowrap;
}
.main_menu .card_menu_1 .__h2_card_menu h2, .main_menu .card_menu_1_hte .__h2_card_menu h2, .main_menu .card_menu_2 .__h2_card_menu h2, .main_menu .card_menu_3 .__h2_card_menu h2, .main_menu .card_menu_4 .__h2_card_menu h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3em;
}
.main_menu .card_menu_1 .__txt_card_menu, .main_menu .card_menu_1_hte .__txt_card_menu, .main_menu .card_menu_2 .__txt_card_menu, .main_menu .card_menu_3 .__txt_card_menu, .main_menu .card_menu_4 .__txt_card_menu {
  position: absolute;
  margin-top: 25px;
  margin-left: 10px;
  white-space: nowrap;
}
.main_menu .card_menu_1 .__txt_card_menu p, .main_menu .card_menu_1_hte .__txt_card_menu p, .main_menu .card_menu_2 .__txt_card_menu p, .main_menu .card_menu_3 .__txt_card_menu p, .main_menu .card_menu_4 .__txt_card_menu p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_menu .card_menu_1 .__prix_card_menu, .main_menu .card_menu_1_hte .__prix_card_menu, .main_menu .card_menu_2 .__prix_card_menu, .main_menu .card_menu_3 .__prix_card_menu, .main_menu .card_menu_4 .__prix_card_menu {
  position: absolute;
  margin-top: 15px;
  margin-left: 305px;
}
.main_menu .card_menu_1 .__validation_card_menu, .main_menu .card_menu_1_hte .__validation_card_menu, .main_menu .card_menu_2 .__validation_card_menu, .main_menu .card_menu_3 .__validation_card_menu, .main_menu .card_menu_4 .__validation_card_menu {
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  width: 60px;
  height: 70px;
  margin-left: 290px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  z-index: 1;
}
.main_menu .card_menu_1 .__validation_card_menu i, .main_menu .card_menu_1_hte .__validation_card_menu i, .main_menu .card_menu_2 .__validation_card_menu i, .main_menu .card_menu_3 .__validation_card_menu i, .main_menu .card_menu_4 .__validation_card_menu i {
  color: #1b6150;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin-top: 25px;
  filter: opacity(0);
}
.main_menu .card_menu_1_hte {
  margin: auto;
  position: relative;
  border-radius: 20px;
  width: 350px;
  height: 90px;
  box-shadow: 0px 5px 20px #999;
  margin-top: 20px;
  cursor: pointer;
  text-align: left;
}
.main_menu .card_menu_1_hte .__h2_card_menu {
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
  white-space: nowrap;
}
.main_menu .card_menu_1_hte .__h2_card_menu h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3em;
}
.main_menu .card_menu_1_hte .__txt_card_menu {
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
  white-space: nowrap;
}
.main_menu .card_menu_1_hte .__txt_card_menu p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_menu .card_menu_1_hte .__prix_card_menu {
  position: absolute;
  margin-top: 35px;
  margin-left: 305px;
}
.main_menu .card_menu_1_hte .__validation_card_menu {
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  width: 60px;
  height: 90px;
  margin-left: 290px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  z-index: 1;
}
.main_menu .card_menu_1_hte .__validation_card_menu i {
  color: #1b6150;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 17px;
  filter: opacity(0);
}

@keyframes anim_menu {
  from {
    filter: opacity(0);
    transform: translateY(-5px);
  }
  to {
    filter: opacity(1);
    transform: translateY(0px);
  }
}
@keyframes anim_check {
  from {
    filter: opacity(0);
    transform: rotate(0deg);
  }
  to {
    filter: opacity(1);
    transform: rotate(360deg);
  }
}
@keyframes anim_txt {
  0% {
    width: 270px;
  }
  33% {
    width: 260px;
  }
  66% {
    width: 250px;
  }
  100% {
    width: 240px;
  }
}
.card_menu_1 {
  animation: anim_menu 500ms ease-in-out;
}
.card_menu_1:hover > .__validation_card_menu {
  transform: scale(1);
}
.card_menu_1:hover > .__validation_card_menu i {
  animation: anim_check 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.card_menu_1:hover > .__prix_card_menu {
  transform: translate(-60px);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.card_menu_1:hover > .__h2_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}
.card_menu_1:hover > .__txt_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}

.card_menu_1_hte {
  animation: anim_menu 500ms ease-in-out;
}
.card_menu_1_hte:hover > .__validation_card_menu {
  transform: scale(1);
}
.card_menu_1_hte:hover > .__validation_card_menu i {
  animation: anim_check 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.card_menu_1_hte:hover > .__prix_card_menu {
  transform: translate(-60px);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.card_menu_1_hte:hover > .__h2_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}
.card_menu_1_hte:hover > .__txt_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}

.card_menu_2 {
  animation: anim_menu 500ms ease-in-out 100ms;
}
.card_menu_2:hover > .__validation_card_menu {
  transform: scaleX(1);
}
.card_menu_2:hover > .__validation_card_menu i {
  animation: anim_check 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.card_menu_2:hover > .__prix_card_menu {
  transform: translate(-60px);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.card_menu_2:hover > .__h2_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}
.card_menu_2:hover > .__txt_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}

.card_menu_3 {
  animation: anim_menu 500ms ease-in-out 200ms;
}
.card_menu_3:hover > .__validation_card_menu {
  transform: scaleX(1);
}
.card_menu_3:hover > .__validation_card_menu i {
  animation: anim_check 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.card_menu_3:hover > .__prix_card_menu {
  transform: translate(-60px);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.card_menu_3:hover > .__h2_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}
.card_menu_3:hover > .__txt_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}

.card_menu_4 {
  animation: anim_menu 500ms ease-in-out 300ms;
}
.card_menu_4:hover > .__validation_card_menu {
  transform: scaleX(1);
}
.card_menu_4:hover > .__validation_card_menu i {
  animation: anim_check 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.card_menu_4:hover > .__prix_card_menu {
  transform: translate(-60px);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.card_menu_4:hover > .__h2_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}
.card_menu_4:hover > .__txt_card_menu {
  animation: anim_txt 500ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: left;
}

#footer {
  color: white;
  background-color: #2a2a2a;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer #ensemble_logo_nav {
  margin-left: -145px;
}
#footer #logo_footer img {
  height: 34px;
  color: white;
  margin-left: 20px;
}
#footer ul {
  display: inline-block;
  list-style-type: none;
  margin-left: -55px;
}
#footer ul li {
  text-align: left;
}
#footer ul li .txt_ft {
  padding-left: 30px;
  margin-bottom: 10px;
}
#footer ul li .txt_ft i {
  padding-right: 10px;
}
#footer ul li:hover {
  text-decoration: underline;
  color: white;
}
#footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1200px) {
  #hdr_menu #__img_menu {
    height: 400px;
  }

  #ensemb_menu {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    margin: auto;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  footer li {
    margin-left: 50px;
    display: inline-block;
  }
}

/*# sourceMappingURL=menu_style.css.map */
