* {
  box-sizing: border-box;
}

.lds-dual-ring {
  animation-name: load_opac;
  animation-duration: 3000ms;
  opacity: 0;
}

@keyframes load_opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #dfc;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: lds-dual-ring 1500ms linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    filter: opacity(0);
  }
  20% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(1);
  }
}
#corp_page {
  animation: loading 3000ms;
  margin-top: -224px;
}

#srch {
  text-align: center;
}
#srch #__logo {
  background-color: #c1ede2;
  padding-bottom: 20px;
  padding-top: 20px;
}
#srch img {
  width: 196px;
  height: 34px;
}
#srch #__bgrnd_sub {
  background-color: #d5f3eb;
  margin-top: -16px;
  padding: 10px;
}
#srch .__ico_map {
  font-size: 2.5em;
}
#srch h1 {
  color: #782cd3;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #9356DC;
}
#srch #srch__Explorer {
  color: white;
  font-weight: bold;
  padding: 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 20px;
  cursor: pointer;
  animation: btn 500ms 3000ms 3;
  transition: transform 300ms, 150ms;
}
#srch #srch__Explorer:hover {
  transform: scale(1.1);
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 20px #999;
  filter: opacity(0.9);
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#guide {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #d5f3eb;
}
#guide #h1_guide {
  background-color: #c1ede2;
}
#guide .btn_guide {
  background: linear-gradient(#9356DC, #FF79DA);
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  padding: 10px;
  width: 270px;
  height: 60px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 30px;
  position: relative;
  transition: transform 300ms, 150ms;
  cursor: pointer;
}
#guide .btn_guide:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 20px #999;
  filter: opacity(0.9);
}
#guide .btn_guide .__nb_btn {
  color: #782cd3;
  border: 1px solid #9356DC;
  background-color: #FF79DA;
  border-radius: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  margin-top: 2px;
  margin-left: -270px;
  font-weight: bold;
}
#guide .btn_guide .__ico_btn {
  position: absolute;
  margin-left: -210px;
  margin-top: 8px;
}
#guide .btn_guide .__txt_btn {
  position: absolute;
  margin-left: 20px;
  padding-bottom: 8px;
  width: 200px;
  font-weight: bold;
}

#sect_card_acc {
  margin-top: -24px;
  background-color: #d5f3eb;
  text-align: center;
  padding-bottom: 3px;
}
#sect_card_acc h1 {
  background-color: #c1ede2;
  padding-bottom: 20px;
  padding-top: 20px;
}
#sect_card_acc .card_acc {
  margin: auto;
  text-align: center;
  width: 340px;
  height: 300px;
  background-color: #d7c0f2;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
#sect_card_acc .card_acc .__img_card_acc {
  position: relative;
  width: 340px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
#sect_card_acc .card_acc .__img_card_acc img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sect_card_acc .card_acc .__new_card_acc {
  color: #9356DC;
  background-color: #541f94;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  left: 220px;
  width: 90px;
  height: 40px;
  padding-bottom: 50px;
}
#sect_card_acc .card_acc .__tt_card_acc {
  color: #460033;
  position: absolute;
  top: 190px;
  left: 10px;
}
#sect_card_acc .card_acc .__p_card_acc {
  color: #790058;
  position: absolute;
  top: 230px;
  left: 10px;
}
#sect_card_acc .card_acc .__ico_card_acc {
  color: #99E2D0;
  position: absolute;
  font-size: 2.5em;
  bottom: 25px;
  left: 250px;
  cursor: pointer;
}
#sect_card_acc .card_acc .__ico_card_acc:hover {
  animation: ico_card_acc_hov 3000ms infinite;
}
@keyframes ico_card_acc_hov {
  30% {
    scale: 2;
    animation-timing-function: ease-in-out;
  }
  50% {
    scal: 1;
  }
  70% {
    transform: rotate(1turn);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(-1turn);
    animation-timing-function: ease-in-out;
  }
}
#footer {
  background-color: #c1ede2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}
#footer #logo_footer img {
  width: 196px;
  height: 34px;
  color: #05110e;
}
#footer ul {
  list-style-type: none;
  text-align: center;
}
#footer li {
  text-align: left;
  margin-bottom: 5px;
}
#footer li .txt_ft {
  padding-left: 30px;
  margin-top: -18px;
}
#footer li:hover {
  text-decoration: underline;
  color: #1b6150;
}
#footer a {
  text-decoration: none;
  color: #1b6150;
}

/*# sourceMappingURL=style.css.map */
