* {
  box-sizing: border-box;
}

@keyframes load_opac {
  0% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
  }
}
.Loader {
  text-align: center;
  margin-top: 300px;
  animation-name: load_opac;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0, 0.68, 0.41, 0.99);
  animation-fill-mode: forwards;
}

.Loader::after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #dfc;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: Loader 1500ms linear infinite;
}

@keyframes Loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    filter: opacity(0.1);
  }
  50% {
    filter: opacity(0.1);
  }
  100% {
    filter: opacity(1);
  }
}
#corp_page {
  animation: loading 3000ms ease-in-out;
  margin-top: -524px;
  font-family: "Roboto", sans-serif;
}

#srch {
  text-align: center;
}
#srch #__logo {
  background-color: white;
  padding-bottom: 8px;
  padding-top: 8px;
}
#srch img {
  width: 196px;
  height: 34px;
}
#srch #__bgrnd_sub {
  background-color: #EFEFEF;
  margin-top: -16px;
  padding: 20px;
  padding-bottom: 40px;
}
#srch .__ico_map {
  background-color: #DCDCDC;
  padding-top: 5px;
  padding-bottom: 15px;
  box-shadow: inset 0px 3px 3px #999;
}
#srch .__ico_map i {
  font-size: 1.5em;
  position: absolute;
  margin-left: -120px;
  margin-top: 22px;
}
#srch .__ico_map p {
  font-size: 1.5em;
}
#srch #__Explorer {
  color: white;
  font-weight: bold;
  padding: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  animation: btn 500ms 3000ms 3;
  animation-fill-mode: forwards;
  transition: transform 300ms, 150ms;
  padding: 20px;
}
#srch #__Explorer:hover {
  box-shadow: 0px 5px 20px #999;
  filter: opacity(0.9);
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#guide {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 35px;
}
#guide #h2_guide h2 {
  font-size: 2em;
  margin-left: -30px;
  margin-bottom: 5px;
}
#guide .bouton_guide {
  background-color: #EFEFEF;
  border: none;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  padding: 10px;
  width: 270px;
  height: 60px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 20px;
  position: relative;
  transition: transform 300ms, 150ms;
  box-shadow: 0px 5px 5px #999;
  cursor: pointer;
}
#guide .bouton_guide:hover {
  background: #e4d5f6;
  filter: opacity(0.9);
}
#guide .bouton_guide:hover > .__ico_bouton {
  color: #9356DC;
}
#guide .bouton_guide .__nb_bouton {
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  margin-top: 7px;
  margin-left: -270px;
  font-weight: bold;
}
#guide .bouton_guide .__ico_bouton {
  color: #5A5E6B;
  position: absolute;
  margin-left: -203px;
  margin-top: 12px;
}
#guide .bouton_guide .__txt_bouton {
  position: absolute;
  margin-left: 20px;
  margin-top: 12px;
  width: 200px;
  font-weight: bold;
}

#sect_card_acc {
  margin-top: -27px;
  background-color: #EFEFEF;
  text-align: center;
  padding-bottom: 3px;
}
#sect_card_acc h2 {
  padding-top: 60px;
  margin-left: -150px;
  font-size: 2em;
}
#sect_card_acc a {
  display: block;
  height: 300px;
  width: 340px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sect_card_acc .card_acc {
  margin: auto;
  text-align: center;
  width: 340px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
#sect_card_acc .card_acc:hover {
  box-shadow: 0px 5px 20px #999;
}
#sect_card_acc .card_acc:hover > .__img_card_acc {
  scale: 105%;
  transition-duration: 500ms;
}
#sect_card_acc .card_acc .__img_card_acc {
  position: relative;
  width: 340px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
#sect_card_acc .card_acc .__img_card_acc img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sect_card_acc .card_acc .__new_card_acc {
  color: #278870;
  background-color: #ade8d9;
  position: absolute;
  top: 20px;
  left: 220px;
  width: 90px;
  height: 30px;
}
#sect_card_acc .card_acc .__new_card_acc p {
  margin-top: 6px;
}
#sect_card_acc .card_acc .__tt_card_acc {
  position: absolute;
  top: 190px;
  left: 10px;
}
#sect_card_acc .card_acc .__tt_card_acc h3 {
  font-size: 1.5em;
  color: black;
}
#sect_card_acc .card_acc .__p_card_acc {
  position: absolute;
  top: 230px;
  left: 10px;
  color: black;
}
#sect_card_acc .card_acc .__ico_card_acc {
  color: black;
  position: absolute;
  font-size: 30px;
  bottom: 26px;
  left: 250px;
  z-index: 1;
  cursor: pointer;
}
#sect_card_acc .card_acc .__ico_card_acc_2 {
  position: absolute;
  font-size: 33px;
  bottom: 24px;
  left: 248px;
  cursor: pointer;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  z-index: 1;
  filter: opacity(0);
}
#sect_card_acc .card_acc .__ico_card_acc_2:hover {
  z-index: 2;
  filter: opacity(1);
  transition-duration: 1000ms;
}

#footer {
  color: white;
  background-color: #2a2a2a;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer #ensemble_logo_nav {
  margin-left: -145px;
}
#footer #logo_footer img {
  height: 34px;
  color: white;
  margin-left: 20px;
}
#footer ul {
  display: inline-block;
  list-style-type: none;
  margin-left: -55px;
}
#footer ul li {
  text-align: left;
}
#footer ul li .txt_ft {
  padding-left: 30px;
  margin-bottom: 10px;
}
#footer ul li .txt_ft i {
  padding-right: 10px;
}
#footer ul li:hover {
  text-decoration: underline;
  color: white;
}
#footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1200px) {
  #Ensemb_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #ensemb_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  footer li {
    margin-left: 50px;
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
